<!DOCTYPE html>
<html lang="en">
<%-include('partials/_header')%>
<body>
  <div class="d-flex p-2 flex-row mb-3 justify-content-center">
    <h1>Login</h1>
        </div>
  <div class="d-flex p-2 flex-row mb-3 justify-content-center">
    <div class="p-2">
  <form method="post" action="/login">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-auto col-form-label">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="@mail.com">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-auto col-form-label">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" id="inputPassword3">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 </div>
</div>
<div class="d-flex p-2 flex-row mb-3 justify-content-center">
<div class="p-2">
<h7>note: This is a demo app for educational purposes.</h7>
<div class="p-2">
<h7>note: To use this Login you must have used the register function already.</h7>
</div>
  </div>
  </div>
</body>
</html>